.BlueTheme {
    color: #49ABC6 !important;
}

.textTheme {
    color: #337486 !important;
}

.btnblue {
    background: #49ABC6 !important;
    width: 125px;
    border-radius: 20px;
}

.textHuge {
    font-size: 30px;
}

.kpi__number {
    color: #00246e;
    font-size: 120px;
    font-weight: bold;
}

.kpi {
    padding: 80px 0;
    text-align: center;
    line-height: 36px;
}


.arriba {
    margin-bottom: 200px;
}

.textGray {
    color: #635B5B;
}

.bgGray {
    background: rgba(196, 196, 196, 0.40);
}

.btnAplicar {
    border-radius: 9px;
    background-color: #49ABC6;
}

    .btnAplicar:hover {
        background-color: #2b6777;
    }

.separador1 {
    margin-top: -1%;
    position: relative;
}

.valorCard {
    border-radius: 25px;
}

.valores-block {
    background-color: rgba(73, 171, 198, 0.05);
}

.rayitaSolida {
    border: 1px solid;
    color: black;
}
