@{
    ViewData["Title"] = "Home Page";
}
<div id="inicio" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="../../assets/estudiantes.svg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block  h-75 align-items-center justify-content-center ">
                <p class="text-dark textGray d-flex justify-content-center align-content-center h1">
                    Programa de pasantias
                </p>
                <p class="text-dark  textGray h1 ">AI LOGIC</p>
                <p class="text-dark textGray h1 ">APLICA YA</p>
                <a type="button" href="https://frontend-pasantes.vercel.app/formulario" name="aplicaya" class="btn btn-lg w-25 mt-5 shadow text-white btnAplicar">APLICA YA</a>
            </div>
        </div>

    </div>
</div>

<!--FIN IMAGEN-->
<!--SEPARADOR-->
<div class="separador1">
    <img src="/assets/efectoSuperior.svg" alt="" class="w-100">
</div>
<!--FIN SEPARADOR-->
<!--QUIENES SOMOS-->
<h1 class="text-center mb-4  textTheme " id="nosotros"> Quiénes somos </h1>
<div class="container-lg text-center mb-5">

    <div class="row">
        <p class="h4  textTheme ">
            Somos una empresa de consultoría y servicios de tecnología, especializada en soluciones de software, creamos valor con nuestro personal altamente reconocido para nuestros clientes, nuestro proceso de desarrollo ágil, enfoque basado en SLA
            y entrega de proyectos a tiempo. Nos hemos destacado en la realización de servicios tecnológicos a medida, ofreciendo innovación y tecnología como parte de los suministros de nuestros clientes.
        </p>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 ">
            <div class="kpi">
                <span class="kpi__number textTheme">
                    <span class="counter-count">10</span><sup>+</sup>
                </span>
                <div class="kpi__text textHuge textTheme m-4">
                    Pasantias Realizadas
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="kpi">
                <span class="kpi__number textTheme">
                    <span class="counter-count">50</span><sup>+</sup>
                </span>
                <div class="kpi__text textHuge textTheme m-4">
                    Pasantes Satisfechos
                </div>
            </div>
        </div>
    </div>




</div>
<!--FIN QUIENES SOMOS-->
<!--valores-->
<div class="valores-block mt-5 ">
    <div class=" container mt-5">
        <div class="row mt-5">
            <div class="col-md-12 mt-4">

                <h1 class="text-center textTheme">
                    Nuestros Valores
                </h1>

            </div>
        </div>
        <div class="valor-list">
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="p-3 text-center">
                        <img src="/assets/colaboracion.svg" alt="...">
                        <h5 class="m-2"> Colaboración </h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3 text-center">

                        <img src="/assets/responsabilidad.svg" alt="">

                        <h5 class="m-2">Responsabilidad</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3 text-center">

                        <img src="/assets/calidad.svg" alt="">

                        <h5 class="m-2">Calidad</h5>

                    </div>
                </div>


                <div class="col-md-3">
                    <div class="p-3 text-center">

                        <img src="/assets/innovacion.svg" alt="">

                        <h5 class="m-2">innovacíon</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="separador2 mt-3">
        <img src="/assets/efectoInferior.svg" alt="" class="w-100 ">
    </div>
</div>